/* src/components/GroupModal.module.css */

.modalOverlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1000;
}

.modalContent {
 background-color: white;
 padding: 20px;
 border-radius: 8px;
 width: 300px;
 text-align: center;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputField {
 width: 100%;
 padding: 10px;
 margin: 10px 0;
 border: 1px solid #ccc;
 border-radius: 5px;
}

.createButton {
 padding: 10px;
 background-color: #4caf50;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 10px;
}

.closeButton {
 padding: 10px;
 background-color: #f44336;
 color: white;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 10px;
}